h1, h2, h3, h4, h5, h6, li, p, button {
    font-family: 'Albert Sans', sans-serif;
}
h1{
    font-size: 3em;
}
body{
    background-color: #E9E2D0;
}
img{
    max-width: 100%;
    height: auto;
}
section{
    margin-bottom: 2em;
}
.inline-block{
    display: inline-block;
    vertical-align: top;
}
.logo{
    text-align: center;
    /* outline: 1px solid red; */
    margin-left: 9%;
}
.navigation{
    height: 100px;
}
nav{
    width: 98%;
    padding: 1%;
    /* outline: 1px solid red; */
}
.nav{
    width: 50%;
    justify-content: center;
    margin-right: 9%;
    float: right !important;
    /* outline: 1px solid red; */
}
.navItem{
    padding: 10px;
    text-align: center;
    float: right;
    font-weight: bold;
    font-size: 1em;
}
.navItem:hover{
    cursor: pointer !important;
    /* text-decoration: underline !important; */
    border-bottom: 3px solid white;
}
.hamMenu{
    display: none;
}
#cwwcHero{
    background-image: url(../images/White\ Wolf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    margin: 0 auto;
}
#cwwcHeader{
    text-align: center;
    position: relative;
    bottom: -60%;
}
/* Project Details */
.sectionHead{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}
.sectionHeadCenter{
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
}
.media{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}
.card{
    margin: 0 auto;
    background-color: white;
    outline: none !important;
}
.mb-3{
    margin-top: 3em;
}
.card-header{
    background-color: #969080;
}
#userPersona{
    margin: 15%;
}
#problemStatement{
    background-color: #969080;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2em;
}
.accordion{
    width: 70%;
    margin: 0 auto;
}
.btn{
    font-size: .8em;
}
.btn:hover{
    text-shadow: 1px 1px 2px white;
}
/* Aesthetics & UI */
.carousel{
    width: 70%;
    margin: 0 auto;
}
.carousel-inner{
    height: 30em;
}
#carouselImagery{
    background-image:   linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../images/Imagery\ Inspiration.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0 auto;
}
#carouselWebsite{
    background-image:   linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../images/Website\ &\ UI\ Inpiration.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0 auto;
}
#carouselColorInspo{
    background-image:   linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../images/Color\ Inpiration.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0 auto;
}
#carouselTextInspo{
    background-image:   linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../images/Typography\ Inspiration\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0 auto;
}
#carouselColorGuidance{
    background-image:   linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../images/Color\ Guidance.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0 auto;
}
#carouselComponents{
    background-image:   linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url(../images/CWWC\ Components.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0 auto;
}
.siteFooter{
    background-color: #665E40;
    height: 100px;
}
.footerNav{
    float: left;
    color: white;
}